body.bg{
margin:0;
font-family:Arial;
color:#FFD700;
background:black url('logo.png') center center no-repeat fixed;
background-size:60%;
}
.profile{
width:140px;
border-radius:50%;
border:4px solid #FFD700;
}
iframe{
width:90%;
height:400px;
display:block;
margin:auto;
}
